input[type=text]{
    width: 100;
    padding: 12px;
}
input[type=password]{
    width: 100;
    padding: 12px;
}
input[type=email]{
    width: 100;
    padding: 12px;
}
input[type=submit]{
    width: 100;
    margin: 12px;
}
input[type=checkbox]{
    width: 100;
    margin: 12px;
}