.border {
    border: 2px solid blue;
    margin: 30px;
    height: 500px;
}

h2 {
    background-color: azure;
    position: absolute;
    top: 3px;
    left: 600px;
}

.red {
    background-color: rgb(159, 44, 44);
    width: 300px;
    height: 400px;
    margin: auto;
    align-content: center;
    text-align: center;
    margin-top: 50px;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.yellow {
    width: 95px;
    background-color: rgb(160, 160, 30);
    height: 50px;
    padding: 5px;
    position: relative;
    top: 30px;
}

.green {
    width: 95px;
    background-color: rgb(46, 78, 46);
    height: 50px;
    padding: 5px;
    position: relative;
    left: 20px;
    z-index: 0s;
}

.blue {
    width: 95px;
    background-color: rgb(55, 55, 142);
    height: 50px;
    padding: 5px;
    position: relative;
    left: 40px;
    top: -30px;
}

.pass {
    position: absolute;
    top: 20px;
    left: 580px;
}

.yell {
    width: 95px;
    background-color: orange;
    height: 50px;
    padding: 5px;
    position: relative;
    top: 30px;
}

.grey {
    width: 95px;
    background-color: orange;
    height: 50px;
    padding: 5px;
    position: relative;
    left: 20px;
}

.blah {
    width: 95px;
    background-color: orange;
    height: 50px;
    padding: 5px;
    position: relative;
    left: 40px;
    top: -30px;
}

.away {
    position: absolute;
    bottom: 470px;
    left: 580px;
}